<h1>Способи оплати</h1>
<%= link_to "Додати спосіб оплати", new_payment_method_path, class: "btn btn-success mb-3" %>

<table class="table table-striped">
  <thead>
    <tr>
      <th>Назва</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% @payment_methods.each do |method| %>
      <tr>
        <td><%= method.name %></td>
        <td>
          <div class="d-flex gap-2">
            <%= link_to "Показати", payment_method_path(method), class: "btn btn-dark btn-sm" %>
            <%= link_to "Редагувати", edit_payment_method_path(method), class: "btn btn-warning btn-sm" %>
            <%= button_to "Видалити", method, method: :delete, data: { confirm: "Ви впевнені?" }, class: "btn btn-danger btn-sm" %>
          </div>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
