<h1>Витрата</h1>

<p><strong>Сума:</strong> <%= @expense.amount %></p>
<p><strong>Опис:</strong> <%= @expense.description %></p>
<p><strong>Дата:</strong> <%= @expense.spendAt %></p>
<p><strong>Категорії:</strong> <%= @expense.categories.map(&:name).join(', ') %></p>
<p><strong>Способи оплати:</strong> <%= @expense.payment_methods.map(&:name).join(', ') %></p>\

<%= link_to "Редагувати", edit_expense_path(@expense), class: "btn btn-warning" %>
<%= link_to "Назад", expenses_path, class: "btn btn-secondary" %>
